:root {
    --bg-dark: #9e9e9e;
    --bg-ligth: #eeeeee;
    scroll-behavior: smooth;
}

.main-color {
    color: darkred;
    transition: .3s linear;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: var(--bg-ligth);
}

.wrap {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    background-color: var(--bg-dark);
    opacity: 0.9;
    display: grid;
    grid-template-columns: 50px 200px 1fr;
    width: 1600px;
    height: 50px;
    position: fixed;
    align-items: center;
    z-index: 10;
}

#home {
    display: grid;
    grid-template-columns: 50px 200px;
}

.header_logo {
    padding-left: 30px;
    height: 45px;
}

.header_name {
    padding-top: 5px;
}

.header_name a {
    font-size: 30px;
    padding-left: 50px;
    font-weight: 300;
    line-height: 45px;
    color: #000;
}

.header_name a:hover {
    color: #fff;
}

.header_menu {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

.menu-item {
    line-height: 50px;
    padding: 0 15px;
    line-height: 50px;
    color: #000;
    transition: .4s linear;
}

.menu-item.activeLink {
    color: white;
}

.menu-item:hover {
    background-color: #636363;
    color: white;
}

.setting_buttons {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.setting_buttons button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 0 40px #ffffff50 inset;
}

.setting_buttons button:hover {
    box-shadow: 0 0 10px 1px #ffffff;
}

.setting {
    box-shadow: 0 0 5px 1px #6b6b6b;
    position: absolute;
    display: grid;
    grid-template-rows: 50px 50px;
    width: 130px;
    height: 100px;
    z-index: 15;
    top: -50px;
    right: 50px;
    transition: 1s;
    background-color: var(--bg-ligth);
    border-radius: 0 0 40% 40%;
}

.setting:hover {
    top: 0;
}

.setting_ico {
    background-image: url(../images/settings.png);
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}

.section {
    background-color: var(--bg-ligth);
    width: 100%;
    height: 80vh;
}

#home {
    transition-property: background-image;
    animation-name: switchhome;
    transition-timing-function: ease-in;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    background-image: url(../images/bg1.jpg);
    background-size: auto;
    background-position: left;
    height: 800px;
}

#team,
#feedback {
    background-color: var(--bg-dark);

}

.element-animation {
    margin: 2rem 0;
    font-size: 3rem;
    opacity: 0;
    padding-left: 100px;
    transform: translateX(-10%);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}